<h1>Welcome to RadMart!</h1>
<div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
        <p class="aboutuspara">
            <span class="radmartfont">RadMart</span> is the home of the most rad-iculous products that cater to your querky lifestyle needs. From the Synergistic Paper Table (whatever that is) to the Awesome Concrete Keyboard, there is nothing you cannot find in RadMart, well, unless
            unconventional is not your thing. Then again, what's the point?
        </p>
    </div>
</div>
