<h1>Important Contacts</h1>
<div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
        <p class="contactuspara">
            <span class="radmartfont">RadMart</span> technical support:
            <br>
            <span class="radmartfont">RadMart</span> product support:
            <br>
            <span class="radmartfont">RadMart</span> customer support:
        </p>
    </div>
</div>
